---
import { ClientRouter } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased wrap-break-word">
    <head>
        <BaseHead {...head} />
        <script is:inline>
            const theme = (() => {
                if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                    return localStorage.getItem('theme');
                }
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    return 'dark';
                }
                return 'light';
            })();
            if (theme === 'dark') {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
        <ClientRouter />
    </head>
    <body class="bg-white text-slate-700 dark:bg-slate-900 dark:text-slate-300">
        <div class="flex flex-col min-h-screen">
            <slot name="header">
                <Header />
            </slot>
            <slot />
            <slot name="footer">
                <Footer />
            </slot>
        </div>
    </body>
</html>
